Repository Ponceleon-Software/ponce-admin, pull requests merged in 2021-03, with the labels that each got.

#23 Rutas dinámicas implementadas close #14
  scripts/main.js
Labels: Javascript, bug

#24 endpoint para gestionar settings close #19
  .gitignore
  initialize.php
  settings.php
Labels: Wordpress, enhancement

#39 Hotifx/cambio folders php
  endpoints/topbar.php
  initialize.php
  ponce-admin.php
  settings.php
  solutions/topbar.php
Labels: Wordpress, bug, enhancement

#65 Mostrar Logo login close #60
  solutions/poncelogo.php
Labels: Wordpress, enhancement, php

#68 Merge para Release de Versión 1.2.0
  README.md
  assets/img/logo-ponceleon.svg
  endpoints/poncelogo.php
  endpoints/topbar.php
  html/ponce-admin.html
  initialize.php
  js/definitions.js
  js/enqueues/logoInAdmin.js
  js/main.js
  js/panel/cardsControl.js
  js/panel/panel.js
  js/panel/solutionCards.js
  js/panel/views.js
  js/solutions/baseCalls.js
  js/solutions/poncelogo.js
  ponce-admin.php
  ponce_init_config.php
  solutions/poncelogo.php
  solutions/topbar.php
  style/ponce-admin.css
Labels: Javascript, Wordpress, documentation, php, style
